/** Normalization **/
*{
	padding: 0;
	margin: 0;
}

html { 
	margin:0;
	padding:0;
	overflow: hidden;
}

#mobile-devices-support{
	display: none;
}

a{
	cursor:default;
}

/** HEADER : CHRONO + SCORE **/
header{
	background-color: #E74C3C;
	height: 30px;
	color: #fff;
	padding-top: 10px;
	-moz-box-shadow: 0 1px 5px #A1AFB5;
	-webkit-box-shadow: 0 1px 5px #A1AFB5; 
	box-shadow: 0 1px 5px #A1AFB5; 
}

#temps-chrono{
	text-align: center;	
}

.note-nb{
	font-size: 10px;
	font-style: italic;
}

#currentscore{
	right: 10px;
	position: absolute;
	top: 10px;
}

.bt-recommencer{
	position: absolute;
	left: 7px;
	top: 5px;	
}

.bt-recommencer-fin{
	margin-bottom: -15px !important;
    margin-top: 10px !important;
    position: relative;
	background: #F39990;
}

.bt-recommencer-fin:hover {
	background: #F3796C;
}

.bt-share-facebook {
	border: none;
	padding: 0.4em 1em;
	position: absolute;
	background: #4682B4;
	color: #fff;
	font-size: 1em;
	letter-spacing: 1px;
	cursor: pointer;
	display: inline-block;
	margin: -28px 2px 3px 160px;
}

.bt-share-facebook:hover {
	background: #38678F;
}

.bt-share-facebook-final {
	border: none;
	padding: 0.4em 1em;
	position: relative;
	background: #4682B4;
	color: #fff;
	font-size: 1em;
	letter-spacing: 1px;
	cursor: pointer;
	display: inline-block;
	margin: -28px 2px 3px 160px;
}

.bt-share-facebook-final:hover {
	background: #38678F;
}

#show-message-score-tres-bon-niv-un, 
#show-message-score-bon-niv-un, 
#show-message-score-mauvais-niv-un, 
#show-message-score-tres-bon-niv-deux, 
#show-message-score-bon-niv-deux, 
#show-message-score-mauvais-niv-deux, 
#show-message-score-tres-bon-niv-trois, 
#show-message-score-bon-niv-trois, 
#show-message-score-mauvais-niv-trois{
	display: none;	
	font-size: 14px;
	margin-bottom: 10px;
}

.monScore{
	color: #E74C3C;
}

#total-points-final{
	border-top: 1px dashed;
	border-bottom: 1px dashed;
	margin-bottom: 20px;	
}

/** **************** **/
/** NIVEAU UN **/
#niveau-un{
	background: #000 url('../img/charlie.jpg') no-repeat;
	width: 1000px;
	height: 650px;
	margin: 30px auto 0;
	-moz-box-shadow: 0 1px 5px #A1AFB5;
	-webkit-box-shadow: 0 1px 5px #A1AFB5; 
	box-shadow: 0 1px 5px #A1AFB5; 
}

/** OBJET A TROUVER UN **/
.nav {
	width: 120px;
	float: left;
	list-style: none;
}

.nav li {
	position: relative;
}

.nav span {
	display: block;
	padding: 20px;
	text-decoration: none;
	color: white;
	cursor: pointer;
	margin-left: 200px;
	margin-top: 200px;
	background-color: transparent;
	-webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
     
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}

.nav span:hover{
	-webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}

.nav audio { 
	position: absolute; 
	left: 110%; 
	top: 10px; 
	display: block; 
	height: 30px; 
	width: 200px; 
}

/** **************** **/
/** NIVEAU DEUX **/
#niveau-deux{
	background: #000 url('../img/charlie-2.jpg') no-repeat;
	width: 1000px;
	height: 650px;
	margin: 30px auto 0;
	-moz-box-shadow: 0 1px 5px #A1AFB5;
	-webkit-box-shadow: 0 1px 5px #A1AFB5; 
	box-shadow: 0 1px 5px #A1AFB5; 
	display: none;
}

/** OBJET A TROUVER DEUX **/
.nav-two {
	width: 120px;
	float: left;
	list-style: none;
}

.nav-two li {
	position: relative;
}

.nav-two span {
	display: block;
	padding: 20px;
	text-decoration: none;
	color: white;
	cursor: pointer;
	margin-left: 800px;
	margin-top: 200px;
	background-color: transparent;
	-webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
     
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}

.nav-two span:hover{
	-webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}

.nav-two audio { 
	position: absolute; 
	left: 110%; 
	top: 10px; 
	display: block; 
	height: 30px; 
	width: 200px; 
}

/** **************** **/
/** NIVEAU TROIS **/
#niveau-trois{
	background: #000 url('../img/charlie-3.jpg') no-repeat;
	width: 1000px;
	height: 650px;
	margin: 30px auto 0;
	-moz-box-shadow: 0 1px 5px #A1AFB5;
	-webkit-box-shadow: 0 1px 5px #A1AFB5; 
	box-shadow: 0 1px 5px #A1AFB5; 
	display: none;
}

/** OBJET A TROUVER TROIS **/

.nav-three {
	width: 120px;
	float: left;
	list-style: none;
}
.nav-three li {
	position: relative;
}
.nav-three span {
	display: block;
	padding: 20px;
	text-decoration: none;
	color: white;
	cursor: pointer;
	margin-left: 500px;
	margin-top: 500px;
	background-color: transparent;
	-webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
     
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}

.nav-three span:hover{
	-webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}

.nav-three audio { 
	position: absolute; 
	left: 110%; 
	top: 10px; 
	display: block; 
	height: 30px; 
	width: 200px; 
}

/** TEXTE EXPLICATIF **/

button {
	border: none;
	padding: 0.4em 1em;
	background: #c0392b;
	color: #fff;
	font-size: 1em;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	margin: 3px 2px;
}

button:hover {
	background: #A5281B;
}

button.md-trigger{
	display: none;
}

.md-perspective,
.md-perspective body {
	height: 100%;
	overflow: hidden;
}

.md-modal {
	position: fixed;
	min-height: 362px; 
	top: 40%;
	left: 50%;
	width: 50%;
	max-width: 630px;
	min-width: 320px;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.md-show {
	visibility: visible;
}

.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	background: rgba(240,240,240,0.9);
	-webkit-transition: all 0s;
	-moz-transition: all 0s;
	transition: all 0s;
}

.md-show ~ .md-overlay {
	opacity: 1;
	visibility: visible;
}

.md-content {
	color: #fff;
	background: #e74c3c;
	position: relative;
	margin: 0 auto;
}

button#start-niveau-un, button#start-niveau-deux{
	display: none;
	margin-top:15px;
	margin-bottom:-15px;
}

#compteRebour_affiche{
    text-align: center;
}

.md-content > div p.separateur-compte-rebour{
	border: transparent;
	height: 1px;
	background-color: #fff;
	padding: 0;
}

.md-content h3 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-size: 2em;
	font-weight: 300;
	opacity: 0.8;
	background: rgba(0,0,0,0.1);
	border-radius: 3px 3px 0 0;
}

.md-content > div {
	padding: 15px 40px 30px;
	margin: 0;
	font-weight: 300;
	font-size: 1.15em;
}

.md-content > div p {
	margin: 0;
	padding: 10px 0;
	text-align: center;
}

.md-content > div ul {
	margin: 0;
	padding:0 0 10px 20px;
}

.md-content > div ul li {
	padding: 5px 0;
}

.md-content button {
	display: block;
	margin: 0 auto;
	font-size: 0.8em;
}

/** OUVERTURE POP EXPLICATIVE **/

.md-show.md-effect-16 ~ .md-overlay {
	background-color: #FFF;
}

.md-effect-16 .md-content {
	-webkit-transform: translateY(-5%);
	-moz-transform: translateY(-5%);
	-ms-transform: translateY(-5%);
	transform: translateY(-5%);
	opacity: 0;
}

.md-show.md-effect-16 ~ .container,
.md-effect-16 .md-content {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show.md-effect-16 .md-content {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
}

.md-content a{
	color: #962014;
	text-decoration: none;
	cursor: pointer;
}

/* Ouverture POP-UP SUCCES NIVEAU */
.md-show.md-effect-16 ~ .md-overlay {
	background-color: #FFF;
}

.md-show.md-effect-17 ~ .container,
.md-show.md-effect-17 ~ .md-overlay  {
	-webkit-transform: rotateX(-2deg);
	-moz-transform: rotateX(-2deg);
	-ms-transform: rotateX(-2deg);
	transform: rotateX(-2deg);
	-webkit-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	background: #FFF;
}

.md-effect-17 .md-content {
	opacity: 0;
	-webkit-transform: translateY(200%);
	-moz-transform: translateY(200%);
	-ms-transform: translateY(200%);
	transform: translateY(200%);
}

.md-show.md-effect-17 .md-content {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
	-webkit-transition: all 0.3s 0.2s;
	-moz-transition: all 0.3s 0.2s;
	transition: all 0.3s 0.2s;
}

/* **************************************** */
/* MEDIA QUERIES */

/* *********** */
/* TABLETTES */
@media screen and (max-width: 767px) {

body{
	background-color: #E74C3C;
}

html{
	background-color: #E74C3C;	
}

#mobile-devices-support{
	background: url("../img/mobile-devices.png") no-repeat;
	display: block;
    height: 114px;
    left: 50%;
    margin-left: -112px;
    margin-top: -57px;
    position: absolute;
    top: 50%;
    width: 224px;
    background-size: 224px;
    z-index: 9999;
    }
    
.md-modal{
	display: none;
}
    
.md-show.md-effect-16 ~ .md-overlay{
	background-color: #E74C3C;
}

#niveau-un, 
#niveau-deux, 
#niveau-trois, 
header, 
form, 
.bt-share-facebook, 
#currentscore, 
.bt-recommencer{
	display: none;
}

}

/* *********** */
/* SMARTPHONES */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

body{
	overflow: hidden;
	background-color: #E74C3C;
}

html{
	background-color: #E74C3C;	
}

#mobile-devices-support{
	background: url("../img/mobile-devices.png") no-repeat;
	display: block;
    height: 114px;
    left: 50%;
    margin-left: -112px;
    margin-top: -57px;
    position: absolute;
    top: 50%;
    width: 224px;
    background-size: 224px;
    z-index: 9999;
}
    
.md-modal{
	display: none;
}
    
.md-show.md-effect-16 ~ .md-overlay{
	 background-color: #E74C3C;
}

#niveau-un, 
#niveau-deux, 
#niveau-trois, 
header, 
form, 
button, 
#currentscore, 
.bt-share-facebook, 
.bt-recommencer{
	display: none;
}
	
}